input,select{
    height: 40px;
    padding: 10px 20px !;
    border: 2px solid #676565;
    width: 100%;
    border-radius: 2px;
}
.ant-form-item{
    margin-bottom: 5px !important;
}
button{
    padding: 0px 20px;
    border-radius: 2px;
    height: 40px !important ;
}
.primary-contained-btn{
    background-color:var(--primary);
    color: white;
    
}
.primary-outlined-btn{
    background-color:white;
    color:var(--primary);
    border: 2px solid var(--primary);

}
   